@import './sass/font-awesome.scss';
@import './sass/base/_base.scss';
@import './sass/base/_auth.scss';
@import './sass/base/_sidebar.scss';
@import './sass/base/_page-header.scss';
@import './sass/base/_container.scss';
@import './sass/base/_helpers.scss';
@import './sass/base/_horizontal-nav.scss';
@import './sass/base/_list-item.scss';
@import './sass/story-search-filters.scss';
@import './sass/story-single.scss';
@import './sass/my-account.scss';

:root {
	--sidebar-width: 300px;
	--primary: #347FC4;
	--primary-alt: #989FCE;
	--dark: #13151d;
	--dark-alt: #171923;
	--light: #252a37;
	--light-alt: #91F9E5;
	
	/* --light-alt: #989FCE; */
	--primary-alt: #91F9E5;

	--grey: #64748b;
	--black: #000;
	--white: #fff;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira sans', sans-serif;
}
body {
	display: inline;
	background: var(--dark-alt) !important;
	color: var(--white);
}
button {
	cursor: pointer;
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

aside {
  background-color: #212529 !important;
  color: rgba(235, 235, 235, 0.64) !important;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
