@import './sass/font-awesome.scss';
@import './sass/base/_base.scss';
@import './sass/base/_auth.scss';
@import './sass/base/_sidebar.scss';
@import './sass/base/_page-header.scss';
@import './sass/base/_profile.scss';
@import './sass/base/_container.scss';
@import './sass/base/_helpers.scss';
@import './sass/base/_horizontal-nav.scss';
@import './sass/base/_list-item.scss';
@import './sass/story-search.scss';
@import './sass/story-search-filters.scss';
@import './sass/story-single.scss';
@import './sass/my-account.scss';
@import './sass/dashboard.scss';

:root {
	--sidebar-width: 300px;

	color-scheme: dark light;

	--light: #e0fbfc;
	--light-alt: #9Bd7df;
	--primary: #347FC4;
	--primary-alt: #24598b;
	--dark: #242629;
	--dark-alt: #181a1d;

	--grey: #474f5a;
	--black: #000;
	--white: #fff;
}

.light {
	--dark: #fff;
	--dark-alt: #f1f2f4;
	--primary: #2563eb;
	--primary-alt: #24598b;
	--light-alt: #242629;
	--light: #181a1d;

	--grey: #d1d5db;
	--white: #000;
	--black: #fff;
}

.text-primary-color { color: var(--light); }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira sans', sans-serif;
}
body {
	display: inline;
	background: var(--dark-alt) !important;
	color: var(--white);
}
button {
	cursor: pointer;
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

aside {
  background-color: #212529 !important;
  color: rgba(235, 235, 235, 0.64) !important;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
