.dashboard {
    .card {
        background-color: var(--dark);
        color: var(--dark);
        h3 {
            color: var(--primary);
        }
        p {
            color: var(--white);
        }
    }
}