.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 10rem;
}

.my-account {
    &.nav-horizontal{
        background-color: var(--dark) !important;
        .nav-item {
            .nav-link{
                color: var(--light-alt);
            }
            &.active{
                background-color: var(--light-alt);
                border-bottom: solid 5px var(--primary);
                .nav-link{
                    color: var(--dark) !important;
                }
            }
        }
    }
    &.card {
        width: 100%;
        background-color: var(--dark) !important;
        color: var(--light);
        h2 {
            color: var(--light-alt);
        }
        .form-control {
            background-color: var(--dark-alt);
            color: var(--light);
            border: none;
        }
        .btn-primary {
            background-color: var(--light-alt);
            color: var(--dark);
            border: none;
        }
    }
    
} 
