
.single-story-details {
    background-color: var(--light);
    color: var(--primary-alt);
    border-radius: 10px;
    padding: 1rem 2rem !important;

    p {
        color: var(--white);
    }
    
    .btn {
        border-radius: 10px;
        padding: 0.25rem 1rem;
        background-color: var(--light-alt);
        &:hover {
            color: var(--light-alt);
            background-color: var(--dark-alt);
        }
    }

    .chapter-item {
        text-decoration: none;
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            background-color: var(--dark);
            color: var(--primary-alt);
            padding: 1rem 1.75rem;
            margin: 1rem 0.5rem;
            border-radius: 10px;
            &:hover {
                background-color: var(--dark-alt);
                color: var(--light-alt);
            }
        }
        &:hover {
            background-color: var(--light);
        }
    }
}

.story-content {
    div {
        background-color: var(--light);
        color: var(--light-alt);
        border-radius: 10px;
        padding-bottom: 2rem;
        padding: 1rem 1.75rem;
    }

    p, .content {
        color: var(--white);
    }
}

.chapter-nav {
    .chapter-btn {
        background-color: var(--light-alt);
        color: var(--dark-alt);
        text-decoration: none;
        width: 100%;
        &:hover {
            background-color: var(--light);
            color: var(--light-alt);
        }
    }
}