li.blurb {
    list-style: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    padding: 1rem 1.5rem;
    background-color: var(--dark);
    color: var(--light);
    &:hover {
        background-color: var(--dark-alt);
    }
    .header {
        .dates {
            display: flex;
            .datetime {
                margin: 0rem auto;
                margin-bottom: 1rem;
            }
        }
    }
}
