li.blurb {
    list-style: none;
    // border-top: var(--primary) 3px solid;
    // border-bottom: var(--primary) 3px solid;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    padding: 1rem 1.5rem;
    background-color: var(--dark);
    color: var(--white);
    &:hover {
        background-color: var(--grey);
    }
    a {
        text-decoration: none;
        color: var(--light-alt);
    }
    .header {
        .dates {
            display: flex;
            .datetime {
                margin: 0rem auto;
                margin-bottom: 1rem;
            }
        }
    }
}
