#sidebar-wrapper {
	width: 16rem;
	min-width: 16rem;
	transition: min-width 0.3s ease-out;
	background-color: var(--dark);
	display: flex;
	flex-direction: column;
	
	.flex {
		flex: 1 1 0%;
	}

	.logo {
		display: flex;
		color: var(--primary);
		margin: 1rem 0;
		img {
			width: 2rem;
			margin: 0 auto;
		}
	}
	
	h3, .button .text {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}
	h3 {
		color: var(--grey);
		font-size: 0.875rem;
		margin-bottom: 0.5rem;
		text-transform: uppercase;
	}
	.menu {
		margin: 2rem -1rem;
		.button {
			display: flex;
			align-items: center;
			text-decoration: none;
			transition: 0.2s ease-in-out;
			padding: 0.5rem 1rem;
			.material-icons, i {
				font-size: 2rem;
				color: white;
				transition: 0.2s ease-in-out;
			}
			svg {
				color: var(--light-alt);
				margin: 0.5rem auto;

			}
			.text {
				display: none;
				color: var(--light-alt);
				transition: 0.2s ease-in-out;
			}
			&:hover {
				background-color: var(--light-alt);
				border-right: 5px solid var(--primary);
				.material-icons, i, .text, svg {
					color: var(--dark-alt);
				}
			}
			&.router-link-exact-active {
				background-color: var(--light-alt);
				border-right: 5px solid var(--primary);
				.material-icons, i, .text, svg {
					color: var(--dark-alt);
				}
			}
		}
	}
	.footer {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
		p {
			font-size: 0.875rem;
			color: var(--grey);
		}
	}

	&.expanded {
		margin-left: 0;
		min-width: 16rem;
		.logo {
			display: flex;
			color: var(--primary);
			margin-bottom: 1rem;
			img {
				width: 2rem;
				margin: 0 1rem;
			}
		}
		.menu .button {
			svg {
				margin: 0.5rem 1rem;
			}
			.text {
		   		display: block;
	   		}
		}
		h3, .button .text {
			opacity: 1;
		}
		.button {
			.material-icons, i {
				margin-right: 1rem;
			}
		}
		.footer {
			opacity: 0;
		}
	}
	@media (max-width: 1024px) {
		// z-index: 99;
		// width: 16rem;
		// min-width: 16rem;
		// margin-left: -16rem;
		// transition: margin .25s ease-out;
		// &.is-expanded {
		// 	margin-left: 0;
		// 	display: flex;
		// }

		position: absolute;
		height: auto;
		min-height: 100%;
		width: 16rem;
		margin-left: -16rem;
		z-index: 3;

		&.is-expanded {
			margin-left: 0;
			z-index: 1001;
		}
	}
}