#sidebar-wrapper {
	display: flex;
	flex-direction: column;
	background-color: var(--dark);
	color: var(--primary-alt);
	width: calc(2rem + 32px);
	overflow: hidden;
	min-height: 100vh;
	padding: 1rem;
	transition: 0.2s ease-in-out;
	.flex {
		flex: 1 1 0%;
	}
	.logo {
		margin-bottom: 1rem;
		img {
			width: 2rem;
		}
	}
	.menu-toggle-wrap {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 1rem;
		position: relative;
		top: 0;
		transition: 0.2s ease-in-out;
		.menu-toggle {
			transition: 0.2s ease-in-out;
			.material-icons, i, svg {
				font-size: 2rem;
				color: var(--primary-alt);
				transition: 0.2s ease-out;
			}
			
			&:hover {
				.material-icons, i {
					color: var(--primary-alt);
					transform: translateX(0.5rem);
				}
			}
		}
	}
	h3, .button .text {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}
	h3 {
		color: var(--grey);
		font-size: 0.875rem;
		margin-bottom: 0.5rem;
		text-transform: uppercase;
	}
	.menu {
		margin: 2rem -1rem;
		.button {
			display: flex;
			align-items: center;
			text-decoration: none;
			transition: 0.2s ease-in-out;
			padding: 0.5rem 1rem;
			.material-icons, i {
				font-size: 2rem;
				color: white;
				transition: 0.2s ease-in-out;
			}
			svg {
				color: var(--primary-alt);
				margin: 0.5rem auto;

			}
			.text {
				display: none;
				color: var(--primary-alt);
				transition: 0.2s ease-in-out;
			}
			&:hover {
				background-color: var(--primary-alt);
				border-right: 5px solid var(--primary);
				.material-icons, i, .text, svg {
					color: var(--dark-alt);
				}
			}
			&.router-link-exact-active {
				background-color: var(--primary-alt);
				border-right: 5px solid var(--primary);
				.material-icons, i, .text, svg {
					color: var(--dark-alt);
				}
			}
		}
	}
	.footer {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
		p {
			font-size: 0.875rem;
			color: var(--grey);
		}
	}
	&.is-expanded {
		width: var(--sidebar-width);
		.menu-toggle-wrap {
			top: -3rem;
			.menu-toggle {
				transform: rotate(-180deg);
			}
		}
		.menu .button {
			svg {
				margin: 0.5rem 1rem;
			}
			.text {
		   		display: block;
	   		}
		}
		h3, .button .text {
			opacity: 1;
		}
		.button {
			.material-icons, i {
				margin-right: 1rem;
			}
		}
		.footer {
			opacity: 0;
		}
	}
	@media (max-width: 1024px) {
		z-index: 99;
		display: none;
		&.is-expanded {
			display: flex;
		}
	}
}